/* Avernus URW — site-wide display + body typeface.
   Three weights are licensed here: Light (300), Medium (500), Bold (700).
   font-synthesis-weight stays enabled by default so Tailwind's font-semibold
   (600) etc. can synthesize smoothly between the real weights. */

@font-face {
    font-family: 'Avernus URW';
    src: url('/fonts/avernus/URWAvernus-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avernus URW';
    src: url('/fonts/avernus/URWAvernus-Medium.woff2') format('woff2'),
         url('/fonts/avernus/URWAvernus-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avernus URW';
    src: url('/fonts/avernus/URWAvernus-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: 'Avernus URW', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}
